# dependencies
frontend/node_modules/
backend/node_modules/

# builds
frontend/dist/

# env
frontend/.env
backend/.env

# uploads
uploads/

# logs
logs/
backend/logs/

# vite logs
frontend/vite-*.log

# OS
.DS_Store
Thumbs.db
